body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #DBC4A6; */
  background-image: url("C:/Users/User/Downloads/sunrise-forest-landscape/37123.jpg");
  background: radial-gradient(circle, rgba(219, 196, 166, 1) 0%,rgba(105, 65, 32, 1) 100%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
 
